{% use '_blocks.html.twig' %} 

<!DOCTYPE HTML>

<html>	

	<head>
		{{ block('head_brand') }} 

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="css/main.css" />
		
	</head>

	<body>
		{{ block('bar_brand') }} 
	
		<img src="img/planet3.png" class="planet">
		
		
		<div class="container">

			<div id="slide00" class="slide slide00 home is-active">
				<span class="keyword">Astronomie</span>
				<h1>5 méthodes pour découvrire des exoplanètes</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationx.</p>
				
				<button>Dlmarrer</button>
			</div>	

			<div id="slide01" class="slide slide01">
				<h1>MA première méthode ici</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationx.</p>
				
				
			</div>	

			<div id="slide02" class="slide slide02">
				<h1>MA première méthode ici</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationx.</p>
				
				
			</div>	

			<div id="slide03" class="slide slide03">
				<h1>MA première méthode ici</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationx.</p>
				
				
			</div>	

			<div id="slide04" class="slide slide04">
				<h1>MA première méthode ici</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationx.</p>
				
				
			</div>	

			<div id="slide05" class="slide slide05">
				<h1>La méthode des transits</h1>
				<p>
					Comme lors d’une éclipse de soleil, lorsque la Lune passe exactement devant le Soleil et plonge la Terre dans la pénombre, le passage d’une exoplanète devant son étoile diminue la luminosité de celle-ci.
				</p>
				<p>
					Bien sur, cette baisse passagère est infimiment moins importante que lors d’une éclipse solaire, mais elle suffit aux instruments des astrophysiciens

				</p>
				<p>
					Sur le graphe, la courbe de la luminosité stellaire diminue transitoirement lorsque la planète passe devant. En étudiant cette courbe, les scientifiques peuvent en déduire la taille de la planète, ainis que sa distance à l’étoile. Des planètes plus grosses diminuent en effet la luminosité plus intensément, tandis que des planètes plus éloignées la diminuent plus longtemps.
				</p>
				<p>
					Ce n’est pas tout, car en analysant le lumière qui traverse l’atmosphère de la planète en transit, on peut en déduire la présence de certaines molécules telles que l’eau ou l’oxygène
				</p>
				<p>
					Le télescope Kepler en a trouvé plus de 3000 grâce à cette méthode, et aujourd’hui c’est TESS qui a pris la relève
				</p>
				
				
			</div>	



			<div class="bottom-nav"> 
				<ul>
					<li><a href="#slide00"><img src="img/planet-home.svg" alt=""></a></li>
					<li><a href="#slide01"><img src="img/planet-mercury.svg" alt=""></a></li>
					<li><a href="#slide02"><img src="img/planet-jupiter.svg" alt=""></a></li>
					<li><a href="#slide03"><img src="img/planet-saturne.svg" alt=""></a></li>
					<li><a href="#slide04"><img src="img/planet-uranus.svg" alt=""></a></li>
					<li><a href="#slide05"><img src="img/planet-pluto.svg" alt=""></a></li>
				</ul> 
				<!-- <span class="starmap">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
				</span> -->
				<!-- <span class="prev">Prev</span>
				<span class="next">Next</span> -->
			</div>
		</div>
			

		<!--<script src="js/tabletop.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script> -->
		<!-- <script src="js/handlebars-v4.0.4.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="js/main.js"></script>
		{{ block('footer_brand') }}
	</body>
</html>
