{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">

	</head>

	<body>
		{{ block('bar_brand') }}

		<img src="img/planet3.png" class="planet">


		<div class="container">

			<div id="slide00" class="slide slide00 home is-active">
				<span class="keyword">Astronomie</span>
				<h1>Attraper une exoplanète, mode d'emploi</h1>

				<!-- <div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">782</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">1995</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart" data-method="radial"></div>
				</div> -->

				<ul class="">
					<li>
						<a href="#slide01">Méthode des vitesses radiales</a>
					</li>
					<li>
						<a href="#slide02">Méthode des transits</a>
					</li>
					<li>
						<a href="#slide03">Les microlentilles gravitationnelles</a>
					</li>
					<li>
						<a href="#slide04">L’astrométrie</a>
					</li>
					<li>
						<a href="#slide05">L’imagerie directe</a>
					</li>
					<li>
						<a href="#slide06">Au-delà de la détection: Cheops</a>
					</li>
				</ul>
				{# <p>
					Détecter des exoplanètes semble impossible. Elles sont situées à des années-lumière de la Terre. Contrairement aux étoiles, elles ne brillent pas. Certes, elles réfléchissent une infime quantité de lumière de leur étoile, mais les deux astres sont généralement si proches que la tâche demeure décourageante: c’est comme si l’on essayait d’observer un ver luisant posé sur un phare de marine à l’horizon!
				</p>

				<p>
					Heureusement, les astrophysiciens sont des gens rusés. Plutôt que de s’en remettre à l’imagerie directe, ils ont tenté de détecter de subtils effets imprimés par les exoplanètes sur leurs étoiles. Une tâche qui n’a rien d’une sinécure, mais qui est devenue possible avec le bond en sensibilité des instruments à la fin du XXe siècle.
				</p>

				<p>
					Pour les capturer, les scientifiques ont plusieurs cordes à leur arc, chaque méthode ayant ses avantages. Choisissez-en une ci-dessous, et partez à la chasse aux exoplanètes
				</p> #}

				<button>Dlmarrer</button>
			</div>

			<div id="slide01" class="slide slide01">
				<span class="keyword alt">Chapitre 1</span>
				<h2>
					Méthode des vitesses radiales
					<span class="subtitle">Les étoiles voient rouge (et bleu)</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">782</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">1995</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart radial" data-method="radial"></div>
				</div>

				<p>
					Egalement appelée la spectroscopie Doppler, c’est la méthode qui a permis la toute première détection d’une exoplanète, 51 Peg b, par les astrophysiciens suisses Michel Mayor et Didier Queloz en 1995 - une découverte si cruciale pour la science qu’ils reçurent tous deux le prix Nobel de physique en 2019.
				</p>

				<p>
					L’hypothèse de départ est simple: si il y a bien une planète qui tourne autour d’une étoile, alors celle-ci va subir de minuscules <b>oscillations</b> provoquées par le jeu des attractions gravitationnelles réciproques entre les deux corps célestes. Ce sont ces mouvements que les astrophysiciens essaient de capturer pour en déduire, indirectement, la présence d’une exoplanète.
				</p>

				<p>
					Etoile et planète tournent autour du centre de gravité du système formé par les deux astres, comme dans l’animation ci-dessous. L’étoile, beaucoup plus massive, bouge évidemment beaucoup moins que la planète qui en fait le tour.
				</p>

				<img src="img/gif.gif" alt="">
				<span class="caption">Elle est belle ma légende</span>

				<h3>Effet Doppler</h3>

				<p>
					Depuis la Terre, on voit l’étoile osciller en se rapprochant puis en s’éloignant légèrement, et ainsi de suite. Ces oscillations sont évidemment indiscernables à l’oeil nu, et à peine perceptibles par les télescopes. Pour cette raison, les scientifiques mesurent le spectre lumineux de l’étoile, une méthode bien plus précise pour s’assurer la présence des oscillations.
				</p>

				<img src="img/onde.png" alt="">
				<span class="caption">Ma belle légende</span>

				<p>
					La lumière voyage sous forme d’ondes qui sont captées par un spectromètre couplé à un télescope. Le train d’ondes, ou spectre, a la particularité de changer de couleur en fonction des mouvements de l’astre. Si l’étoile se rapproche de la Terre, le spectre devient bleu car les ondes «se compressent» (la longueur d’onde de la lumière diminue), ou rouge si elle s’éloigne car les ondes «s’étirent» (la longueur d’onde augmente), comme dans l’animation.
				</p>

				<p>
					C’est <b>l’effet Doppler</b>, dont on fait l’expérience non pas avec une onde lumineuse, mais une onde sonore, lorsque passe un camion aux sirènes hurlantes. A mesure qu’il se rapproche, le son devient de plus en plus aigu (les ondes se compressent, leur fréquence augmente) puis de plus en plus grave lorsqu’il s’éloigne (les ondes s’étirent, leur fréquence diminue).
				</p>

				<h3>Elodie, Espresso</h3>

				<p>
					Mais revenons-en au ciel. Si les scientifiques observent une étoile dont le spectre lumineux oscille régulièrement tantôt vers le rouge, tantôt vers le bleu, c’est peut-être parce qu’elle bouge en raison de la présence d’une planète.

				</p>

				<p>
					Elodie, l’instrument ayant permis la détection de 51 Peg b, est sensible à des variations de vitesse de l’étoile de l’ordre de 10 m/s. Espresso, un des spectromètres de dernière génération installé sur le VLT au Chili, arrive à 10 cm/s.
				</p>

				<p>
					La méthode des vitesses radiales est la deuxième méthode la plus prolifique en termes d’exoplanètes découvertes. Elle peut être utilisée pour découvrir de nouvelles planètes, ou pour confirmer des candidates potentielles détectées par le biais d’autres méthodes.

				</p>

			</div>

			<div id="slide02" class="slide slide02">
				<span class="keyword alt">Chapitre 2</span>
				<h2>
					Méthode des transits
					<span class="subtitle">La chasse aux mini-éclipses</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">3135</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">2002</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart transits" data-method="transits"></div>
				</div>

				<p>
					Comme lors d’une éclipse solaire, lorsque la Lune obscurcit le Soleil, le passage d’une exoplanète devant son étoile - <b>ou transit</b> - diminue sa luminosité.

				</p>

				<p>
					Bien entendu, ces assombrissements passagers sont infimes, mais les instruments des astrophysiciens sont suffisamment sophistiqués pour les détecter.

				</p>

				<p>
					Si pour une étoile donnée on en détecte suffisamment, de longueur identique et à des intervalles de temps réguliers, alors il y a de bonnes chances pour que le phénomène soit dû au transit d’une planète.

				</p>

				<p>
					Sur le graphe ci-dessous, la courbe de la luminosité stellaire, visible sur la gauche, diminue transitoirement lorsque la planète passe devant. En étudiant cette courbe, les scientifiques peuvent en déduire deux informations principales.

				</p>

				<video autoplay loop muted>
				  <source src="../vid/transit-method-single-planet.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>

				<p>
					Premièrement, son <b>rayon</b>. Plus la luminosité diminue, plus les diamètres respectifs de l’étoile et de la planète sont proches. Etant donné que la taille de l’étoile peut être déduite assez précisément de l’analyse de sa composition spectrale, la méthode des transits permet donc une estimation assez précise du rayon des exoplanètes.

				</p>

				<p>
					Deuxièmement, son <b>orbite</b>. Plus la luminosité diminue longtemps, plus la planète a une orbite éloignée de l’étoile, ce qui permet notamment de savoir si la planète évolue dans la zone habitable du système, là où la vie pourrait exister!

				</p>

				<p>
					Connaissant la taille et la masse, estimée par la méthode des vitesses radiales, les physiciens peuvent en déduire sa densité, et ainsi avoir une première idée de sa composition. Mais prudence, car la méthode des vitesses radiales ne donne qu’une masse minimale, et pas une masse exacte de la planète.
				</p>

				<p>
					Ce n’est pas tout, car en analysant la lumière qui traverse l’atmosphère de la planète en transit, on peut en déduire la présence de certaines molécules telles que l’eau ou l’oxygène.

				</p>

				<h3>
					De Kepler à TESS
				</h3>

				<p>
					Lancé en 2009, le télescope spatial Kepler a découvert plus de 3000 exoplanètes grâce à cette méthode. Dix ans plus tard, il est l’instrument ayant trouvé le plus d’exoplanètes. Son modus operandi: il pointe des optiques dans une direction donnée qui englobe environ 145000 étoiles, un nombre conséquent qui augmente les probabilités de tomber sur un transit.
				</p>

				<p>
					N’oublions pas que ces événements sont rares: pour les observer, il faut un alignement quasi parfait entre l’instrument, l’étoile et l’exoplanète. De plus, les transits demeurent fugaces, sans compter que pour des milliers d’étoiles, l’alignement parfait ne se produira jamais pour nous pauvres Terriens.
				</p>

				<p>
					Depuis, un autre instrument, TESS, a rejoint Kepler et scrute des planètes plus petites.
				</p>


			</div>

			<div id="slide03" class="slide slide03">
				<span class="keyword alt">Chapitre 3</span>
				<h2>
					Les microlentilles gravitationnelles
					<span class="subtitle">Einstein, encore!</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">86</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">2004</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart microlens" data-method="microlens"></div>
				</div>

				<p>
					Avez-vous déjà essayé de faire du feu avec une loupe? Oui c’est dangereux, mais le phénomène est bien pratique pour expliquer l’action des lentilles gravitationnelles.
				</p>

				<p>
					De même que la loupe concentre les rayons du soleil (on dit qu’elle agit comme une lentille convergente), des galaxies peuvent concentrer la lumière d’autres galaxies (on parle alors de lentilles gravitationnelles), et des étoiles peuvent concentrer la lumière d’autres étoiles (on parle de <b>microlentilles gravitationnelles</b>).

				</p>

				<p>
					C’est Albert Einstein - encore lui - qui en est à l’origine. D’après sa théorie de la relativité générale, les corps célestes massifs tels que les étoiles dévient les rayons lumineux. Lorsqu’une étoile passe devant une autre, et ce dans un alignement parfait avec la Terre, elle dévie la lumière de celle située derrière, intensifiant brièvement et jusqu’à mille fois son éclat, comme dans l’animation ci-dessous (la Terre est le petit point bleu en bas).

				</p>

				<video autoplay loop muted>
				  <source src="../vid/gravitational_microlensing.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
				<span class="caption">Elle est belle ma légende</span>

				<h3>Disque d’Einstein</h3>

				<p>
					Vus depuis la Terre, les éclats des deux étoiles sont indissociables, si bien qu’on aperçoit un disque lumineux qualifié de «disque d’Einstein» qui dure de quelques semaines à quelques mois et se dissipe lorsque l’alignement prend fin.

				</p>

				<p>
					Mais tout cela ne nous renseigne pas sur les exoplanètes! Lorsqu’il y en a une près de l’étoile-lentille, celle-ci joue également le rôle de lentille et amplifie encore un peu plus la lumière de l’étoile au loin.
				</p>

				<p>
					L’effet loupe de ces deux lentilles se manifeste par un pic de luminosité qui dure de quelques heures à quelques jours. Selon les caractéristiques du pic, les astrophysiciens peuvent en déduire de multiples données telles que la masse ou l’orbite de l’exoplanète.
				</p>

				<p>
					En nécessitant un tel alignement des astres, les microlentilles gravitationnelles sont des événements rarissimes. On estime qu’elles surviennent dans une étoile sur un million. Et de fait, les observations demeurent éphémères, les alignements ne se répétant pratiquement jamais à notre échelle.
				</p>

				<p>
					Ces observations sont menées par divers réseaux de télescopes dans le monde.
				</p>

			</div>

			<div id="slide04" class="slide slide04">
				<span class="keyword alt">Chapitre 4</span>
				<h2>
					L’astrométrie
					<span class="subtitle">Ça gigote, mais pas trop</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">1</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">2013</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart astrometry" data-method="astrometry"></div>
				</div>


				<p>
					Si vous avez lu le premier chapitre sur la méthode des vitesses radiales, alors vous savez déjà que de minuscules oscillations des étoiles peuvent renseigner sur la présence d’exoplanètes - en raison de l’attraction gravitationnelle réciproquement exercée par les deux corps célestes.
				</p>

				<p>
					Il existe un autre moyen de détecter ces subtiles oscillations stellaires, grâce à des instruments optiques. C’est le principe-même de l’astrométrie, branche de l’astronomie qui étudie la position d’à peu près tout ce qui bouge dans le ciel.

				</p>

				<p>
					Si une étoile bouge tout doucement et de manière régulière, c’est peut-être que ces mouvements sont provoqués par une exoplanète. Mais voilà, les oscillations sont si ténues qu’elles sont longtemps restées hors de portée des instruments scientifiques, quand bien même l’astrométrie existe depuis plus de cinquante ans. C’est comme si l’on voulait voir l’épaisseur d’un cheveu en étant installé à 3 kilomètres de distance!
				</p>

				<video autoplay loop muted>
				  <source src="../vid/transit-method-single-planet.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
				<span class="caption">Elle est belle ma légende</span>

				<p>
					Un des immenses avantages de cette méthode est qu’elle permet de déterminer avec précision la masse des planètes, paramètre crucial pour trouver la densité des exoplanètes.

				</p>

				<p>
					L’astrométrie a le potentiel de détecter des planètes de masse comparable à celle de la Terre et situées dans la zone habitable de leur étoile. De quoi, en somme, avoir les bons outils pour trouver des planètes propices à la vie.

				</p>

				<p>
					Selon les bases de données consultées, on trouve divers nombres d’exoplanètes détectées grâce à l’astrométrie: une seule pour la NASA, une dizaine pour exoplanets.eu …

				</p>

				<p>
					Une chose est sûre: l’astrométrie n’a pas été très prolifique jusqu’ici. Elle n’en demeure pas moins une méthode cruciale qui va connaitre un grand pas en avant avec plusieurs missions dont celle du satellite européen d’astrométrie GAIA qui a, en août 2019, permis de dresser la carte de la Voie lactée la plus précise avec plus d’un milliard d’étoiles recensées. De quoi occuper les chasseurs d’exoplanètes pendant un bon moment.

				</p>

			</div>

			<div id="slide05" class="slide slide05">
				<span class="keyword alt">Chapitre 5</span>
				<h2>
					L’imagerie directe
					<span class="subtitle">Selfies d’exoplanètes</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">47</span> <span class="label">Planètes découvertes</span></div>
						<div><span class="number">2004</span> <span class="label">Année 1è découverte</span></div>
					</div>
					<div class="c3-chart imagery" data-method="imagery"></div>
				</div>

				<p>
					Au risque de contredire ce qui a été évoqué en guise d’introduction, la détection directe de planètes est possible - oui oui, avec des photos. Mais vous pouvez ranger vos smartphones, car le phénomène reste exceptionnel.

				</p>
				<p>
					La difficulté, pour rappel, tient en deux mots: distance et luminosité. Une exoplanète c’est loin, et ça n’émet aucune lumière propre: elles ne font que renvoyer une infime partie de la lumière stellaire. Cela revient essayer de discerner un ver luisant sur un phare de marine à l’horizon. Bon courage…
				</p>

				{# <video autoplay loop muted>
				  <source src="../vid/transit-method-single-planet.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video> #}
				<p>
					Pour y parvenir quand même, les astrophysiciens utilisent divers artifices.
				</p>
				<p>
					Exemple, la coronographie. Cette technique consiste, en résumé, à placer un disque opaque sur la lentille et de l’utiliser pour masquer l’étoile dans le champ de vision, un peu comme si on fabriquait une éclipse. Et là, magie - ou plutôt science - apparaissent les objets bien moins lumineux aux alentours.

				</p>
				<p>
					Autre possibilité, le recours à la méthode dite d’optique adaptative, qui permet de corriger les images en temps réel grâce à un système de miroir déformable, activé par des pistons, en fonction des perturbations de l’environnement (lumière stellaire parasite ou pollution atmosphérique)
				</p>

				<img src="img/temp.png" alt="">
				<span class="caption">Ma légende ici</span>

				<p>
					intérêt : des images réelles pourraient révéler la présence d’océans, ou encore fournir des indices précieux sur la composition atmosphérique de la planète.
				</p>


			</div>

			<div id="slide06" class="slide slide06">
				<span class="keyword alt">Chapitre 6</span>
				<h2>
					Au-delà de la détection: Cheops
					<span class="subtitle">Étudier les exoplanètes</span>
				</h2>

				<div class="factsheet">
					<div class="two-numbers">
						<div><span class="number">1234</span> <span class="label">Un truc super</span></div>
						<div><span class="number">1234</span> <span class="label">Un truc super</span></div>
					</div>
					<div class="two-numbers">
						<div><span class="number">1234</span> <span class="label">Un truc super</span></div>
						<div><span class="number">1234</span> <span class="label">Un truc super</span></div>
					</div>

				</div>

				<p>
					Maintenant que nous avons attrapé de nombreuses exoplanètes (plus de 4000 fin 2019), reste à toutes les étudier afin d’en savoir plus sur leur atmosphère, leur composition, et pourquoi pas sur leur capacité à abriter la vie.

				</p>
				<p>
					C’est exactement le but de l’instrument <b>Cheops</b> (CHaracterizing ExOplanet Satellite selon l’acronyme anglais), petit télescope de 280 kg lancé en décembre 2019.Il s’agit du tout premier télescope spatial construit dans le cadre d’un projet suisse pour le compte de l’Agence spatiale européenne (ESA).
				</p>

				{# <video autoplay loop muted>
				  <source src="../vid/transit-method-single-planet.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video> #}
				<p>
					Sa mission: observer des centaines d’exoplanètes gravitant autour de leur étoile. Et, pourquoi pas, trouver une «deuxième Terre»? Il ne va donc pas traquer de nouvelles exoplanètes, mais observer des corps célestes déjà connus afin de déterminer leur nature. Il ciblera préférentiellement des planètes de rayon un à six fois plus grand que celui de la Terre - des «super Terres».
				</p>
				<p>
					Si vous avez bien retenu ce que vous avez lu dans les chapitres précédents, vous savez que la méthode des vitesses radiales permet d’obtenir une masse minimale pour une planète donnée. Et que la méthode des transits donne une estimation de son diamètre. De ces deux variables, les astrophysiciens déduisent la densité et obtiennent ainsi une première idée de leur composition.

				</p>
				<p>
					Ce sont justement ces phénomènes de transit qui seront scrutés par le petit Cheops. Comme exposé au chapitre 2, le principal défi sera d’atteindre une précision photométrique extrême, afin de pouvoir détecter avec certitude les infimes baisses de luminosité des étoiles. Le petit Cheops devra pour cela se débarrasser des lumières parasites du Soleil et même de la Lune (qui en réfléchit déjà trop pour ses instruments).
				</p>

				<p>
					Pour cela, il sera orienté de telle sorte qu’il ne regardera jamais dans la direction de ces astres, pas plus qu’il ne regardera des exoplanètes à travers l’atmosphère de la Terre.
					Cheops pourra aussi caractériser un peu mieux les atmosphères de certains exoplanètes. Bref, les scientifiques peaufineront leurs connaissances grâce à ce petit bout de Suisse en orbite à 700 kilomètres au-dessus de nos têtes.
				</p>


			</div>



			<div class="bottom-nav">
				<ul>
					<li>
						<a href="#slide00">
							<img src="img/planet-home.svg" alt="" class="no-glow">
							<img src="img/planet-home-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide01">
							<img src="img/planet-mercury.svg" alt="" class="no-glow">
							<img src="img/planet-mercury-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide02">
							<img src="img/planet-jupiter.svg" alt="" class="no-glow">
							<img src="img/planet-jupiter-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide03">
							<img src="img/planet-saturne.svg" alt="" class="no-glow">
							<img src="img/planet-saturne-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide04">
							<img src="img/planet-uranus.svg" alt="" class="no-glow">
							<img src="img/planet-uranus-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide05">
							<img src="img/planet-pluto.svg" alt="" class="no-glow">
							<img src="img/planet-pluto-glow.svg" alt="" class="glow">
						</a>
					</li>
					<li>
						<a href="#slide06">
							<img src="img/planet-mars.svg" alt="" class="no-glow">
							<img src="img/planet-mars-glow.svg" alt="" class="glow">
						</a>
					</li>
				</ul>
				<!-- <span class="starmap">
					<ul>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
				</span> -->
				<!-- <span class="prev">Prev</span>
				<span class="next">Next</span> -->
			</div>
		</div>


		<!--<script src="js/tabletop.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script> -->
		<!-- <script src="js/handlebars-v4.0.4.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="js/d3.v5.min.js"></script>
		<script src="js/c3.min.js"></script>
		<script src="js/c3-charts.js"></script>
		<script src="js/main.js"></script>
		{{ block('footer_brand') }}
	</body>
</html>
